# Core functionality - changes here should be rare!
/src/app.py                   @jayamisulakshi
/src/backend/database.py      @jayamisulakshi
/src/backend/routers/auth.py  @jayamisulakshi

# The frontend will need refactored soon to be more object oriented.
/src/static/   @jayamisulakshi
